<%= "Welcome, #{@user.name.split(" ").first} "%>
<%= "From this page you can view your CareCasts, you can view by current day, a specified day, week, and month."%>

<h2><%= link_to "Today's CareCast",  %></h2>